
    nav {
        display: flex;
        justify-content: space-between;
        padding: 20px 25px;
        background-color: rgb(53, 53, 53);
      }
      
      nav a {
        text-decoration: none;
        color: white;
        margin: 0 5px;
        padding: 20px 25px;

      }
      
      nav a:hover {
        background-color: red;
        }
        .esquerda {
          display: flex;
          align-items: center;
      }
      
      .direita {
          display: flex;
          align-items: center;
      }

    .logo{
        background: green;
        padding: 0px;
    }

    .legenda{
        border: 1px solid black;
    }

    select.eventos {
        text-align: left; 
        background-color: rgb(216, 211, 211);
        padding: 15px 20px; 
        width: 100%; 
        box-sizing: border-box; 
      }
      
      .info{
        padding: 15px 20px; 
        width: 100%; 
        box-sizing: border-box; 
      }

      .botão{
        padding: 15px 20px; 
        width: 100%; 
        border: 0px solid white;
        background-color: rgb(41, 172, 41);
        color: white;
      }
      
      .usuario{
        border: 5px solid white;
        background-color: rgb(218, 216, 216);
        padding: 15px 20px;
        width: 100%;
      }
      .senha{
        border: 5px solid white;
        background-color: rgb(218, 216, 216);
        padding: 15px 20px;
        width: 100%;
      }
      .esqueci{
        border: 5px solid white; 
        background-color: rgb(218, 216, 216);       
        padding: 15px 20px;
        width: 100%;
      }